<div class="container m-5">
    <div class="row">
        <div class="col-lg-3">
            <table class="table ">
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item fs-2">Meu Perfil</li>
                    <li class="list-group-item"><%= link_to "Alterar Perfil",edit_user_registration_path,  class: "menu-item-profile" %></li>
                    <li class="list-group-item"><%= link_to "Alterar Senha", edit_user_password_path,  class: "menu-item-profile" %></li>
                    <li class="list-group-item"><%= link_to "Endereços", perfil_index_path,  class: "menu-item-profile" %></li>
                    <li class="list-group-item"><%= link_to "Produtos Favoritos", edit_user_password_path,  class: "menu-item-profile" %></li>
                    <li class="list-group-item"><%= link_to "Cancelar Cadastro", cancel_user_registration_path,  class: "menu-item-profile" %></li>
                </ul> 
            </table>
        </div>  
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <%= render 'layouts/shared/flash' %>
                    <h2><%= current_user.name %> </h2>
                    <%= image_tag "profile.png", width: 120, class: "m-3" %>

                    <%= simple_form_for current_user, url: update_user_perfil_index_path, data: { turbo: false } do |f| %>
                        <%= f.input :avatar %>
                        <%= f.input :email, readonly: true %>
                        <%= f.input :name %>
                        <%= f.input :phone %>
                        <%= f.button :submit, "Atualizar", class: "btn btn-success" %>
                    <% end %>
                </div>
            </div>
            
        </div>  
    </div>
</div>