<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= admin_root_path %>">
                <div class="sidebar-brand-icon">
                    <%= image_tag("logo_plastificados", size: "65x65") %>
                </div>
                <div class="sidebar-brand-text mx-3">Nati E-commerce</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="<%= admin_root_path %>">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Produtos
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                
                <%= link_to admin_categories_path, class: "nav-link collapsed" do %>
                    <i class="fas fa fa-sitemap"></i>
                    <span>Categorias</span>
                <% end %>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                
                <%= link_to admin_products_path, class: "nav-link collapsed" do %>
                    <i class="fas fa fa-gift"></i>
                    <span>Produtos</span>
                <% end %>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Finanças
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Vendas</span>
                </a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Balanço</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Perfil
            </div>

             <!-- Nav Item - Alterar Senha -->
            <li class="nav-item">
                
                <%= link_to admin_perfil_index_path, method: :delete, class: "nav-link" do %>
                    <i class="fas fa-fw bi bi-key"></i><span> Atualizar Perfil</span>
                <% end %>
            </li>

            <li class="nav-item">
                
                <%= link_to password_admin_perfil_index_path, method: :delete, class: "nav-link" do %>
                    <i class="fas fa-fw bi bi-key"></i><span> Alterar Senha</span>
                <% end %>
            </li>

             <!-- Nav Item - Sair -->
            <li class="nav-item">
                
                <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                    <i class="fas fa-fw bi bi-x-square"></i><span> Sair</span>
                <% end %>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            

        </ul>
        <!-- End of Sidebar -->