
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body">
                    <%= render 'layouts/shared/flash' %>
                    <h2><%= current_user.name %>, altere sua senha. </h2>
                        <%= no_image_check(current_user, :mid1_avatar, "rounded-circle mt-3") %>

                    <%= simple_form_for current_user, url: update_password_perfil_index_path, data: { turbo: false } do |f| %>
                        <%= f.input :current_password %>
                        <%= f.input :password %>
                        <%= f.input :password_confirmation %>
                        <%= f.button :submit, "Atualizar senha", class: "btn btn-success" %>
                    <% end %>
                </div>
            </div>
            
        </div>  