
  
  <div class="row mt-4">
    
    <div class="col-lg-6">
      <div class="col-xl-12 col-md-6">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  <strong>Nome:</strong>
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                    <%= @product.name %>
                  </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800 mt-5 d-flex justify-content-center">
                  <%= no_image_check(@product, :big1_thumb) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">

          <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      <strong>Descrição:</strong>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= @product.description %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                      <strong>Preço:</strong>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= formataPreco(@product.price) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                      <strong>Categoria:</strong>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= @product.category.name %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                      <strong>Visibilidade:</strong>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= status_publish(@product.publish) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                      <strong>Em promoção:</strong>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= status_publish(@product.promo) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                      <strong>Preço Promocional:</strong>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= formataPreco(@product.promo_price) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>

  <%= link_to 'Voltar', :back, class: "col-lg-1 btn btn-secondary" %>
  </div>

</div>
