<h1 class="text-center mt-4">Carrinho de Compras</h1>

<div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- Product 1-->
                    
                   
                        <table class="table">
                            <th>Foto</th>
                            <th>Nome do produto</th>
                            <th>Valor</th>
                            <th>Valor com Desconto</th>
                            <th>Quantidade</th>
                            <th>Subtotal</th>
                            <th>Ações</th>

                                    <% @cart.each do |c| %>
                                    <tr>
                                        <td><%= no_image_check(c, :cart_avatar) %></td>
                                        <td><%= c.name %></td>
                                        <td><%= formataPreco(c.price) %></td>
                                        <td><%= formataPreco(cart_price(c)) %></td>
                                        <td><input type="number" value="1" maxsize="1">
                                        </td>
                                        <td><%= formataPreco(cart_price(c) * 1) %></td>
                                        <td><%= button_to "", remover_path(c.id), class: "btn btn-danger bi bi-trash" %></td>
                                    </tr>
                                    <% end %>
                                    <tr class="mt-5">
                                        <td colspan="3" class="fw-bold text-success">Descontos</td>
                                        <td class="fw-bold text-success">-
                                            <%= formataPreco(cart_sum_descont) %></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="fw-bold">Total</td>
                                        <td class="fw-bold">
                                            <%= formataPreco(cart_sum) %></td>
                                        <td><%= button_to "Finalizar Compra", orders_path, class: "btn btn-success" %></td>
                                    </tr>
                                
                        </table>

                        
                                
                </div>
                