

<div class="row mt-2 justify-content-center">
    <div class="col-lg-2 mt-4">
        <%= render 'menu' %>
    </div>

    <div class="col-lg-9">
            <div class="container px-4 px-lg-5 mt-5">
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                                <!-- Product 1-->

                            <%= search_empty %> 
   
                                
                                <% @products.each do |product| %>
                                    <div class="col mb-5">
                                        <div class="card h-100 d-flex align-items-center">

                                            <%= ProductPresenter.new(product).label_promo %>

                                            <!-- Product image-->
                                        <%= link_to product_path(product) do %>
                                            <%= no_image_check(product, :mid1_thumb) %>
                                        <% end %>
                                            <!-- Product details-->
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder"><%= product.name %></h5>
                                                    <%= product.price %>
                                                </div>
                                            </div>
                                            <!-- Product actions-->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center">
                                                    
                                                    <% if exists_cart?(product.id) %>

                                                        <%= button_to 'Remover do carrinho', remover_path(product.id), class: "btn btn-outline-danger mt-auto" %>

                                                    <% else %>
                                                    
                                                        <%= button_to 'Adicionar ao carrinho', adcionar_path(product.id), class: "btn btn-outline-dark mt-auto" %>

                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>         
                            </div>
            </div>
    </div>               
                            <div class="d-flex text-center justify-content-center mb-4">
                                  <%= paginate @products, theme: 'bootstrap-5',
                   pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block" %> 
                            </div>
</div> 