<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#!">Loja ProgShowzim</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item"><a class="nav-link" aria-current="page" href="<%= root_path %>">Home</a></li>
            <%= render 'layouts/store/user_signed_in' %>
          </ul>
          <%= render 'busca' %>
          <form class="d-flex">
            <%= link_to cart_path, class: "btn btn-outline-primary" do %>
              <i class="bi-cart-fill me-1 bg-outline-primary"></i>
              Cart
              <span class="badge bg-primary text-white ms-1 rounded-pill">
                <%= cart_count %>
              </span>
            <% end %>

          </form>
      </div>
  </div>
</nav>