
            <%= simple_form_for @address do |f| %>
                <tr>
                    <div class="form-inputs">
                    <%= f.input :name %>
                    <%= f.input :street %>
                    <%= f.input :neighboarhood %>
                    <%= f.input :number %>
                    <%= f.input :complement %>
                    <%= f.input :zipcode %>
                    <%= f.input :city %>
                    <%= f.input :state %>
                    </div>

                    <div class="form-actions">
                        <%= f.button :submit %>
                    </div>
                    
                </tr>
            <% end %>
