<div class="container">
    <div class="col-lg-10 offset-lg-1 justify-content-center">
        <div class="row">
            <h1 class="text-center mt-4">Endereços</h1>
        </div>
        <div class="row">
            <table class="table mt-4">
                <tr>
                    
                    <td>Nome</td>
                    <td>Rua</td>
                    <td>Bairro</td>
                    <td>Número</td>
                    <td>CEP</td>
                    
                </tr>
            <% @addresses.each do |address| %>
                <tr>
                    
                    <td><%= address.name %></td>
                    <td><%= address.street %></td>
                    <td><%= address.neighboarhood %></td>
                    <td><%= address.number %></td>
                    <td><%= address.zipcode %></td>
                    
                </tr>
            <% end %>

            </table>
        </div>
    </div>
</div>