<div class="container">
    <div class="col-lg-10 offset-lg-1 justify-content-center">
        <div class="row">
            <h1 class="text-center mt-4">Endereço - <%= @address.name %></h1>
        </div>
        <div class="row">
            <table class="table mt-4">
                <tr>
                    
                    <td>Rua</td>
                    <td>Bairro</td>
                    <td>Número</td>
                    <td>Complemento</td>
                    <td>CEP</td>
                    <td>Cidade</td>
                    <td>Estado</td>
                    
                </tr>
            
                <tr>
                    
                   
                    <td><%= @address.street %></td>
                    <td><%= @address.neighboarhood %></td>
                    <td><%= @address.number %></td>
                    <td><%= @address.complement %></td>
                    <td><%= @address.zipcode %></td>
                    <td><%= @address.city %></td>
                    <td><%= @address.state %></td>
                    
                </tr>
            

            </table>

        </div>
            <%= link_to "Novo", new_address_path, class: "btn btn-secondary" %>
    </div>
</div>