
<%= simple_form_for([@enderecos]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :logradouro, label: "Logradouro" %>
    <%= f.input :image, label: "Foto do produto" %>
    <% if controller_name == 'products' && action_name == 'edit' %>
      <%= f.label "Remover Imagem" %>
      <%= f.check_box :remove_image %>
    <% end %>
    <%= f.input :description, label: "Descrição" %>
    <%= f.input :price, label: "Preço" %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :category_id, collection: Category.all, label: 'Categoria', label_method: :name, value_method: :id,
      input_html: { class: 'form-control' } %>
    </div>
    <div class="col-lg-6">
      <%= f.input :publish, collection: [['Ativo',true], ['Inativo',false]], label: 'Visibilidade de venda', include_blank: false,
      input_html: { class: 'form-control' } %>
    </div>

    <div class="col-lg-6">
      <%= f.input :promo, label: 'Promoção' %>
    </div>

    <div class="col-lg-6">
      <%= f.input :promo_price, label: 'Preço promocional' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Salvar', class: "btn btn-success" %>
  </div>
<% end %>
