<div id="<%= dom_id product %>">
  
  <div class="row">
    
    <div class="col-lg-6">
      <div class="col-xl-12 col-md-6">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  <strong>Nome:</strong>
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                    <%= product.name %>
                  </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800 mt-5 d-flex justify-content-center">
                  <% if product.image.attached? %>
                    <%= image_tag product.image, height: 300 %>
                  <% else %>  
                    <%= image_tag 'no_image', height: 300 %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">

          <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      <strong>Descrição:</strong>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= product.description %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                      <strong>Categoria:</strong>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= product.category.name %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                      <strong>Visibilidade:</strong>
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <%= status_publish(product.publish) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>


  </div>

</div>
