<!DOCTYPE html>
<html>
  <head>
    <title>EComm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>

  <body>
    <!-- Nav--> 
    <%= render 'layouts/store/nav' %>
    <!-- Header-->    
    <%= render 'layouts/store/header' %>
    <%= yield %>
     <!-- Footer--> 
    <%= render 'layouts/store/footer' %>
  </body>

  <script>

    fetch('/products_api')
.then(response => response.json())
.then(function(data){
    localStorage.setItem("products", JSON.stringify(data));
    if(!localStorage.getItem("cart")){
        localStorage.setItem("cart", JSON.stringify([]));
    } else {
    console.error('A resposta da API está vazia ou nula.');
  }
});

//GLOGALS

let products = JSON.parse(localStorage.getItem("products")) !== null ? JSON.parse(localStorage.getItem("products")) : [];
let cart = JSON.parse(localStorage.getItem("cart")) !== null ? JSON.parse(localStorage.getItem("cart")) : [];



function addItemToCart(productId) {
    if (products) {
        let product = products.find(function(product) {
            return product.id == productId;
        });

        
        if (!cart.some(item => item.id === productId)) {
            cart.push({"id": productId, "qt": 1});
            localStorage.setItem("cart", JSON.stringify(cart));
            console.log('Produto adicionado ao carrinho.');
        } else if (cart.some(item => item.id === productId)) {
            let existingItem = cart.find(item => item.id === productId);
            existingItem.qt += 1;
            localStorage.setItem("cart", JSON.stringify(cart));
            console.log('Quantidade adicionado ao carrinho.');
        } else {
            console.log('Produto já está no carrinho.');
        }
        
    } else {
        console.error('Lista de produtos não carregada.');
    }
}



function removeItemToCart(productId){
    let temp = cart.filter(item => item.id != productId);
    localStorage.setItem("cart", JSON.stringify(temp));
}




function updateQuantity(productId, quantity){
    for(let product of cart){
        if(product.id == productId){
            product.qt = quantity;
        }
    }
    localStorage.setItem("cart", JSON.stringify(cart));
}



function getTotal(){
    let temp = cart.map(function(item){
        return parseFloat(item.price);
    });

    let sum = temp.reduce(function(prev, next){
        return prev + next;
    }, 0);
}

function loadCart(){
   const cartElement = document.getElementById('cart');

   cartElement.innerHTML = '';

   cart.forEach(item => {
    const productElement = document.createElement('div');

            fetch('/cart_photos/' + item.id)
        .then(response => response.json())
        .then(data => {
            // `data.photos` conterá um objeto onde as chaves são IDs dos produtos e os valores são caminhos das fotos
            console.log(data.photos);

            // Atualize a interface do usuário conforme necessário
            // Por exemplo, você pode adicionar as imagens ao DOM usando JavaScript
        })
        .catch(error => console.error('Erro ao obter fotos do carrinho:', error));

    productElement.innerHTML = `<a href="/products/${item.id}">Prod</a>Produto ID: ${item.id}, Qantidade: ${item.qt}`;
    cartElement.appendChild(productElement);
   });
}

//loadCart();

  </script>
</html>
